@model GetEmployeesResponse
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} 

<h2>Employees Rock!</h2>

@foreach(var employee in Model.Employees)
            {
                <div>
                    <p>@employee.FullName</p>
                     <p>Email them at @employee.Email</p>
                </div>
            }

<div>
    <p>We have @Model.NumberOfFullTimeEmployees full time employees.</p>
</div>

<a class="btn btn-primary" asp-action="New" asp-controller="Employees">Hire A New Employee</a>